In [1]:
import requests
import bs4

print(requests.__version__)
print(bs4.__version__)

2.31.0
4.12.3

## 네이버 상태 코드

In [3]:
URL = 'https://www.naver.com/'

req = requests.get(URL)
print(req.status_code)

200

In [6]:
# req.text

In [14]:
from bs4 import BeautifulSoup
import pandas as pd

with open('index.html', 'r', encoding='UTF8') as f:
    # step 01: 데이터 수
    contents = f.read()

    # step 02: 데이터 파싱 (순수한 HTML 파일을 BeautifulSoup 객체로 변환)
    soup = BeautifulSoup(contents, 'lxml')
    # print(soup)
   
    # print(soup.h2)
    # print(soup.ul)
    # print("----")
    # print(soup.ul.li)
    # 4개의 li 태그에 있는 회사명을 모두 가져오는 것이 목적

    # step 03 : 데이터 수집을 위한 특정 태그 찾기
    companies = []
    print(soup.find_all('li'))

    # step 04: 데이터 가공
    for tag in soup.find_all('li'):
        companies.append(tag.text)
    print(companies)
    
    # step 05 : 처리된 데이터 저장 pandas 데이터프레임
    crawling_dict = {'회사명': companies}
    result = pd.DataFrame(crawling_dict)
    print(result)

    # step 06 : csv 파일로 내보내기 or DB 파일로 내보내기
    result.to_csv("result.csv", index=False)

[<li>애플</li>, <li>삼성</li>, <li>노키아</li>, <li>LG</li>]
['애플', '삼성', '노키아', 'LG']
   회사명
0   애플
1   삼성
2  노키아
3   LG

In [35]:
import requests
from bs4 import BeautifulSoup

custom_header = {
    'referer': 'https://music.bugs.co.kr/',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
}
url = "https://music.bugs.co.kr/chart" 
req = requests.get(url, headers=custom_header)

# 데이터 파싱 (순수한 HTML 파일을 BeautifulSoup 객체로 변환)
soup = BeautifulSoup(req.text, 'lxml')

# step 03 : 데이터 수집을 위한 특정 태그 찾기
song_titles = []

# 각 <p> 태그에서 곡 제목을 추출하고 리스트에 추가
for tag in soup.find_all('p', class_='title'):
    song_title = tag.find('a').text.strip()  # 곡 제목 추출
    song_titles.append(song_title)

crawling_dict = {'곡 제목': song_titles}
songs = pd.DataFrame(crawling_dict)
print(songs)

# step 06 : csv 파일로 내보내기 or DB 파일로 내보내기
songs.to_csv("songs.csv", index=False)

                           곡 제목
0                 Love wins all
1                          Wife
2                         To. X
3                      Love 119
4                          에피소드
..                          ...
95  머물러주오 (Prod. 안신애 & Philtre)
96                       운이 좋았지
97                      Snowman
98                Cool With You
99         사랑은 먼 길을 돌아온 메아리 같아서

[100 rows x 1 columns]

In [41]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random
import warnings
warnings.filterwarnings('ignore')
  
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
# 헤더의 역할은 내가 크롤링 기계가 아니라 사람인것처럼 하는거, 본안이 엄격한곳이면 headers에 들어가는 값이 더 많음.
N = 2
# pd.concat()  # 진행
df = None
for pageNum in range(1, N + 1):
    url = f'https://finance.naver.com/item/sise_day.naver?code=005930&page={pageNum}'
    # print(url)
    req = requests.get(url, headers=headers) 
    soup = BeautifulSoup(req.content, "html.parser")
    result = pd.read_html(req.text, encoding='euc-kr')[0]
    df = pd.concat([df, result], ignore_index=True)

df

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  13080752.0
2   2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
3   2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
4   2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
5   2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2024.01.24  74000.0  1200.0  75200.0  75200.0  73500.0  12860661.0
10  2024.01.23  75200.0   100.0  75700.0  75800.0  74300.0  14786224.0
11  2024.01.22  75100.0   400.0  75900.0  76000.0  75000.0  19673375.0
12  2024.01.19  74700.0  3000.0  73500.0  74700.0  73000.0  23363427.0
13  2024.01.18  71700.0   700.0  71600.0  72000.0  70700.0  17853397.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN
15         NaN      NaN     NaN      NaN      NaN      NaN         NaN
16  2024.01.17  71000.0  1600.0  73100.0  73300.0  71000.0  22683660.0
17  2024.01.16  72600.0  1300.0  73500.0  73700.0  72500.0  14760415.0
18  2024.01.15  73900.0   800.0  73200.0  74000.0  73200.0  13212339.0
19  2024.01.12  73100.0   100.0  73000.0  74100.0  72800.0  13038939.0
20  2024.01.11  73200.0   400.0  72900.0  73600.0  72700.0  57691266.0
21         NaN      NaN     NaN      NaN      NaN      NaN         NaN
22         NaN      NaN     NaN      NaN      NaN      NaN         NaN
23         NaN      NaN     NaN      NaN      NaN      NaN         NaN
24  2024.01.10  73600.0  1100.0  75000.0  75200.0  73200.0  20259529.0
25  2024.01.09  74700.0  1800.0  77400.0  77700.0  74300.0  26019249.0
26  2024.01.08  76500.0   100.0  77000.0  77500.0  76400.0  11088724.0
27  2024.01.05  76600.0     0.0  76700.0  77100.0  76400.0  11304316.0
28  2024.01.04  76600.0   400.0  76100.0  77300.0  76100.0  15324439.0
29         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [42]:
df.dropna(inplace=True)
df

            날짜       종가     전일비       시가       고가       저가         거래량
1   2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  13080752.0
2   2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
3   2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
4   2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
5   2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
9   2024.01.24  74000.0  1200.0  75200.0  75200.0  73500.0  12860661.0
10  2024.01.23  75200.0   100.0  75700.0  75800.0  74300.0  14786224.0
11  2024.01.22  75100.0   400.0  75900.0  76000.0  75000.0  19673375.0
12  2024.01.19  74700.0  3000.0  73500.0  74700.0  73000.0  23363427.0
13  2024.01.18  71700.0   700.0  71600.0  72000.0  70700.0  17853397.0
16  2024.01.17  71000.0  1600.0  73100.0  73300.0  71000.0  22683660.0
17  2024.01.16  72600.0  1300.0  73500.0  73700.0  72500.0  14760415.0
18  2024.01.15  73900.0   800.0  73200.0  74000.0  73200.0  13212339.0
19  2024.01.12  73100.0   100.0  73000.0  74100.0  72800.0  13038939.0
20  2024.01.11  73200.0   400.0  72900.0  73600.0  72700.0  57691266.0
24  2024.01.10  73600.0  1100.0  75000.0  75200.0  73200.0  20259529.0
25  2024.01.09  74700.0  1800.0  77400.0  77700.0  74300.0  26019249.0
26  2024.01.08  76500.0   100.0  77000.0  77500.0  76400.0  11088724.0
27  2024.01.05  76600.0     0.0  76700.0  77100.0  76400.0  11304316.0
28  2024.01.04  76600.0   400.0  76100.0  77300.0  76100.0  15324439.0

In [43]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random
warnings.filterwarnings('ignore') 

def crawling(url, headers, soup):
    # 각 종목에 맞춰서 모든 페이지를 가지고 오도록 설정, 종목마다 페이지수가 다르기때문에
    last_page = int(soup.select_one('td.pgRR').a['href'].split('=')[-1])
    
    df = None
    count = 0
    for page in range(1, last_page + 1):
      req = requests.get(f'{url}&page={page}', headers=headers)
      df = pd.concat([df, pd.read_html(req.text, encoding = "euc-kr")[0]], ignore_index=True)
      if count > 10:
        break
      count += 1
      time.sleep( random.uniform(2,4)) 

    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    return df

def main():
    company_code = '005930' # 삼성전자
    url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
    headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    result = crawling(url, headers, soup)
    print(result)

if __name__ == "__main__":
    main()

             날짜       종가     전일비       시가       고가       저가         거래량
0    2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  14874547.0
1    2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
2    2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
3    2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
4    2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
..          ...      ...     ...      ...      ...      ...         ...
115  2023.08.10  68000.0   900.0  68300.0  68500.0  67800.0  10227311.0
116  2023.08.09  68900.0  1300.0  68000.0  69600.0  67900.0  17259673.0
117  2023.08.08  67600.0   900.0  69000.0  69100.0  67400.0  14664709.0
118  2023.08.07  68500.0   200.0  67700.0  69200.0  67600.0  10968505.0
119  2023.08.04  68300.0   500.0  68800.0  69100.0  68200.0  12360193.0

[120 rows x 7 columns]